[flake8]
extend-exclude = .*

max-line-length = 120
extend-ignore =
    # docstrings
    D10,
    # f-strings
    WPS305,
    # 'Unnecessary generator - rewrite as a set comprehension': `{}` - is ugly, `set()` - my choice
    C401,
    # 'Found commented out code': many false-positives
    E800,
    # Found class without a base class
    WPS306,
    # 'Found wrong module name': I dont know how to rename 'helpers'
    WPS100,
    # 'Found `__init__.py` module with logic': is true, but not for processors/__init__.py
    WPS412,
    # 'Found module with too many imports: 25 > 12': processors/__init__.py
    WPS201,
    # 'Found too deep nesting': FIXME: some cases need be rewritten
    WPS220,
    # 'subprocess call - check for execution of untrusted input.': FIXME
    S603,

; Print the total number of errors.
count = true

; Count the number of occurrences of each error/warning code and print a report.
statistics = True

# Good variable names which should always be accepted, separated by a comma.
allowed-domain-names = result,
             e,
             param,
             params,
             obj,

max-local-variables = 10

# 'WPS231 Found too high function cognitive complexity'
max-cognitive-score = 25

# 'WPS232 Found too high module cognitive complexity'
max-cognitive-average = 20

# 'WPS230 Found too many public instance attributes'
max-attributes = 10

# 'WPS211 Found too many arguments'
max-arguments = 10
